body{
    font-family: sans-serif;
	background: #d5f0f3;
}

.kotak_login{
    width: 350px;
	background: white;
	margin: 10px auto;
    padding: 5px 0px;
}

@font-face{
    font-family: "font billabong";
    src:url('Billabong.ttf');
}
h1{
    text-align:center;
    font-size:50px;
    font-family:"font billabong";
}

p{
    text-align:center;
    margin:0px 40px 10px;
    font-size:15px;
    color:#999999;
}

.input{
    box-sizing : border-box;
    width: 93%;
	padding: 5px;
	font-size: 11pt;
    margin:10px;
    border-radius:3px;
    border-color:transparent;
    background:#FAFAFA;
}

.masuk{
    background: cornflowerblue;
	color: white;
	font-size: 11pt;
	width:93%;
	border: none;
	border-radius: 7px;
    padding: 5px;
    margin:10px;
}

a{
    text-decoration:none;
    text-align:center;
}